<% # KBBTODO add i18n %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome <%= @user.name %>,</h1>
    <p>Your password is <%= @user.password %>.</p>
  </body>
</html>