<!-- include css files here -->
<link rel="stylesheet" type="text/css" href="static/resources/css/web.css" />

<div id="wrapper">
    <!-- Logo -->
    <a id="logo" href="index.html">
        <img src="static/resources/images/logo.png" />
    </a>

    <!-- Navigation -->
    <p id="navi">
        <a href="index.html">Home</a> 路 <a href="plans.html">Plans &amp Pricing</a> 路 <a href="login.html">Sign-in</a>
    </p>

    <!-- Contents -->
    <div id="contents">
        <h1>Welcome to Kebab Web OS</h1>
        <blockquote>"Create your multi-tenant web applications, using Kebab"</blockquote>
    </div>

    <!-- Footer -->
    <p id="footer">
        2010 - 2011 路 <a href="http://www.lab2023.com" target="_blank">lab2023 - internet technologies</a> 路 All rights reserved
    </p>
</div>
