<h1>Welcome to Kebab Project</h1>

<p>If you run <code>bundle exec dev:seed</code>, so you have a initial tenant "lab2023". Change subdomain 'www' to 'lab2023' then refresh the page.</p>
<p>Email: onur@ozgur.com Password: 123456 or Email: tayfun@ozis.com Password: 123456</p>

<p>Don't forget to setup Kebab Project!</p>

<ol>
  <li>Paypal api at config/initializers/paypal.rb</li>
  <li>Kebab setting at config/initializers/kebab.rb</li>
</ol>

<p>Useful links</p>

<ol>
  <li><a href="http://www.kebab-project.com/" target="_blank">Website</a> </li>
  <li><a href="https://github.com/kebab-project/kebab-revolution/wiki" target="_blank">Wiki</a> </li>
  <li><a href="http://kebab-project.2299591.n4.nabble.com/" target="_blank">Forum</a></li>
  <li><a href="https://github.com/kebab-project/kebab-revolution" target="_blank">Github</a> </li>
</ol>

