<p><%=t 'mail.notifier.payment_failures_5_days_ago.p1', :application_name => Kebab.application_name, :subscription_next_payment_date => @subscription.next_payment_date, :subscription_amount => @subscription.amount  %></p>
<p><%=t 'mail.notifier.payment_failures_5_days_ago.p2', :application_name => Kebab.application_name %></p>