<% # KBBTODO i18n %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @subscription.user_name %></h1>
    <p>Payment failures 5 days ago. Please check your paypal account.</p>
  </body>
</html>