<p><%=t 'mail.notifier.trial_5_days_from_now.p1', :application_name => Kebab.application_name %></p>
<p><%=t 'mail.notifier.trial_5_days_from_now.p2', :application_name => Kebab.application_name %></p>