<% # KBBTODO i18n %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @subscription.user_name %></h1>
    <p>Please start recurring payment from account manager. Otherwise system cancel your account 5 days from now.</p>
  </body>
</html>